<h1>New Contact Form</h1>

<%= form_for(@contact_form) do |f| %>
	<% if @contact_form.errors.any? %>
		<div id="errorExplanation">
			<h2>Oops, something went wrong:</h2>
			<ul>
				<% @contact_form.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<dir class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</dir>
	<dir class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</dir>
	<dir class="field">
		<%= f.label :message %><br />
		<%= f.text_field :message %>
	</dir>
	<dir class="actions">
		<%= f.submit "Deliver" %>
	</dir>
<% end %>
